.about {
  padding-top: 0;
}
.about-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
}

.about-list {
  display: flex;
}

.about-list__item {
  margin-right: 30px;
}
.about-list .about-list__item:last-child {
  margin-right: 0;
}
.about-box {
  position: relative;
}
.about-box__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
