.clients-title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
  @media screen and(min-width:1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.clients-list__item {
  margin: 15px;
  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 180px) / 6);
  }
}

.clients-list__link {
  fill: var(--icon-background);
  display: flex;
  border: 1px solid var(--icon-background);
  box-sizing: border-box;
  border-radius: 4px;
  height: 92px;
  align-items: center;
  justify-content: center;
  transition: fill 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    fill: var(--hover-color);
    border-color: var(--hover-color);
  }
}
