.logo__web {
  color: var(--hover-color);
}

.logo__studio {
  color: #000000;
}
.header__logo {
  margin-right: auto;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}

// .web__social {
//   display: flex;
//   align-items: baseline;
// }

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hover-color);
  text-decoration: none;
}

.footer-logo__studio {
  color: var(--background-color-main);
}
