.modal {
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  position: absolute;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transition: transform 250ms var(--timing-function);
  transform: translate(-50%, -50%) scale(1);
}
.modal-icon {
  @extend %align-list;
  justify-content: center;
  transition: fill 250ms var(--timing-function);
}

.modal-btn {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  position: absolute;
  cursor: pointer;
  &:hover .modal-icon {
    fill: var(--hover-color);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  margin-bottom: 17px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.modal-input {
  padding-left: 42px;
  width: 100%;
  height: 36.55px;
  outline: none;

  border: 1px solid rgba(2, 1, 1, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
  &:focus {
    border-color: var(--hover-color);
  }
  &:focus + .input-icon {
    fill: var(--hover-color);
  }
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.form-btn {
  border: transparent;
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 50px;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background 250ms var(--timing-function);
  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.modal-label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;
}

.modal-comment {
  display: block;
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;

  color: inherit;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms var(--timing-function);
  &:focus {
    border-color: var(--hover-color);
  }
}

.modal-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-input-wrap {
  position: relative;
  margin-top: 4px;
}

.modal-field {
  margin-bottom: 10px;
}
.checkbox-icon {
  fill: transparent;
}
.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
.modal-check {
  margin-top: 20px;
  margin-bottom: 30px;
}
.check-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-check {
  outline: none;
}
.contract {
  color: var(--hover-color);
}
.check-text .icon-text-check {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-text-check {
  margin-right: 7px;
}

.input-check:checked + .check-text .icon-text-check {
  border: none;
  background-color: var(--hover-color);
}
.input-check:checked + .check-text .checkbox-icon {
  fill: var(--background-color-main);
}
